:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial;
  font-size: 10pt;
  color: black;
}
tbody {
  font-family: Arial;
  font-size: 8pt;
}
thead {
  font-family: Arial;
  font-size: 10pt;
}
h1 {
  font-size: 18pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h2 {
  font-size: 14pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h3 {
  font-size: 12pt;
  margin-bottom: 0px;
}
h4 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h5 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h6 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h7 {
  font-size: 10pt;
  margin-bottom: 0px;
}
dt {
  font-weight: bold;
}

table {
  border: 0px solid black;
}

th {
  text-align: left;
  text-valign: top;
}

td {
  text-align: right;
  text-valign: top;
}

.LEFT {
  text-align: left;
}
.RIGHT {
  text-align: right;
}

td.TRACE {
  border: 1px solid #000080;  
  text-align: left;
  text-valign: top;
}

p {
  margin: 0px;
  padding: 0px;
}

pre {
  font-family: courier;
  font-size: 14px;      
  background-color: #f2f9a8;
  margin: 0px;
  padding: 0px;
}

.SELECTED {
  border: 3px solid #909090;
}

.SELECTED * {
  border: solid blue 0px;
}

.COLLAPSED {
  height: 100px;
  overflow: scroll;
}
.HIDDEN {
  display: none;
}
.HIDDEN.SELECTED {
  display:block;
}

.FLOATLEFT {
  float:left;
}

.CODEVIEW {
  font-family: courier;
  font-size: 14px;      
  background-color: #bbf9a8;
  border:solid green 1px;
  margin: 0px;
  padding: 0px;
}

.CODEEXAMPLE,
.CODE {
  font-family: courier;
  font-size: 14px;      
  background-color: #f2f9a8;
  margin: 0px;
  padding:0px;
}


.AUTOEDIT {
  color: red;
}

.EMBEDDED {
  background-color: #ffb848;
}

.EDITOR {
  background-color: #b9a3c1;
}

.EDITOR.undefined {
  background-color: #b9a3C1;
  color : white;
}

.EDITOR.number {
  background-color: #b9a3c1;
  color : blue;
  text-align: right;
}
.EDITOR.string {
  background-color: #b9a3c1;
  color : red;
  text-align: left;
}
.EDITOR.function {
  background-color: #f2f9a8;
}

.OUTPUTEXAMPLE,
.OUTPUT {
  background-color: #b7b7b7;
  color: 828282;
  margin: 0px;
  padding: 0px;
}

.TESTEXAMPLE{
  background-color: #b6fff7;
  border:solid blue 3px;
  color: blue;
}

.TEST {
  background-color: #b6fff7;
  border:solid blue 3px;
  color: blue;
}
.TEST.ERROR {
  background-color: #b6fff7;
  border:solid red 3px;
  color: black;
}

.DIFFSAME,
.USERSUCCESS,
.SUCCESS {
  background-color: #8dff60;
  color: black;
}

.INFO  {
  background-color: #b6fff7;
}

.TRACE,
.DEBUG {
  font-size: 14px;      
  background-color: #b6fff7;
  border:solid blue 1px;
}

.DIFFERENT,
.USERERROR,
.ERROR {
  background-color: #ff4d4d;
  color: black;
}

.CODEINERROR {
  font-family: courier;
  font-size: 14px;      
  background-color: yellow;
  border:solid yellow 1px;
}

.INSPECT {
  padding: 2px;
  margin: 0px;
}

.INSPECTHTML {
  padding: 0px;
  margin: 0px;
  color: 004129;
  background-color: #00ffa2;
  font-family: courier;
  font-size: 14px;      
}

.RICHTEXT {
  color: black;
}

.SMSTATE,
.SMTRANSITION {
  margin: 5px;
  border:solid green 1px;
}  
.SMCURRENTSTATE {
  background-color: yellow;
}

.CUT {
  background-color: #b7b7b7;
  color: 828282;
  font-size: 8px;
}

.SECTION {
  padding-left: 3px;
  marging-bottom: 5px;
}

.SECTIONCONTAINER {
  padding-left: 25px;
  border-left: grey solid 1px;
}

.INVALIDLINK {
  color:red;
}

.DIFF.EQUAL {
  background-color: #8dff60;
}
.DIFF.DEL {
  background-color: #ffb848;
  color: red;
}
.DIFF.ADD {
  background-color: #ffb848;
  color: green;
}

.WARNING {
  background-color:yellow;
}

.INTERACTIVE,
.SCENE {
  background-color:cyan;
}

.SCENECONTAINER {
  position: relative;
  /*must have no border!! */
  height:100%;
}

.IELEMENT {
  position:absolute;
}

#jcContent {
  margin-top:3em;
}

#menu {
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color: #909090;
  z-index:100;
}  

button {
  background-color: #909090;
}  
