h1 {
  font-family: Arial;
  font-size: 18pt;
  margin-bottom: 0px;
}
h2 {
  font-family: Arial;
  font-size: 14pt;
  margin-bottom: 0px;
}
h3 {
  font-family: Arial;
  font-size: 12pt;
  margin-bottom: 0px;
}
h4 {
  font-family: Arial;
  font-size: 10pt;
  margin-bottom: 0px;
}
h5 {
  font-family: Arial;
  font-size: 10pt;
  margin-bottom: 0px;
}
h6 {
  font-family: Arial;
  font-size: 10pt;
  margin-bottom: 0px;
}
h7 {
  font-family: Arial;
  font-size: 10pt;
  margin-bottom: 0px;
}
dt {
  font-weight: bold;
}
th {
  text-align: left;
  valign: top;
}
td {
  text-align: right;
  valign: top;
}

.CODE {
  font-family: courier;
  font-size: 14px;      
  background-color: f2f9a8;
  border:solid yellow 1px;
}

.AUTOEXEC {
  background-color: ffb848;
}

.OUTPUT,
.CODE,
p {
  margin: 0px;
  padding: 0px;
}
.TEST {
  border:solid blue 3px;
  color: blue;
}
.INFO, 
.DEBUG {
  font-family: courier;
  font-size: 14px;      
  background-color: b6fff7;
  border:solid blue 1px;
}
.ERROR {
  background-color: ff4d4d;
  border:solid red 1px;
}
.INSPECT {
  padding: 0px;
  margin: 0px;
  color: green;
  background-color: 8dff60;
  border:solid green 1px;
  font-family: courier;
  font-size: 14px;      
}
.INSPECTHTML {
  padding: 0px;
  margin: 0px;
  color: 004129;
  background-color: 00ffa2;
  border:solid green 1px;
  font-family: courier;
  font-size: 14px;      
}

.TEXT {
  color: black;
}
.SUCCESS {
  background-color: 8dff60;
  border:solid green 1px;
}
.OLD {
  background-color: b7b7b7;
  color: 828282;
  border:solid green 1px;
}

.SMSTATE,
.SMTRANSITION {
  margin: 5px;
  border:solid green 1px;
}  
.SMCURRENTSTATE {
  background-color: yellow;
}