body {
  font-family: Arial;
  color: black;
  width: 21cm;
}
tbody {
  font-family: Arial;
  font-size: 1em;
}
thead {
  font-family: Arial;
  font-size: 1em;
}
h1 {
  font-size: 18pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h2 {
  font-size: 14pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h3 {
  font-size: 12pt;
  margin-bottom: 0px;
}
h4 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h5 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h6 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h7 {
  font-size: 10pt;
  margin-bottom: 0px;
}
dt {
  font-weight: bold;
}

ol,ul,li {
  padding:0em;
  margin-top : 0em;
  margin-bottom : 0em;
}

table {
  border: none;
}

th {
  text-align: left;
  text-valign: top;
}

td {
  text-align: right;
  text-valign: top;
}

.LEFT {
  text-align: left;
}
.RIGHT {
  text-align: right;
}

.TRACE {
  border: 1px solid #000080;
  text-align: left;
  text-valign: top;
}

p {
  margin: 0px;
  padding: 0px;
}

.FIELD p,
.RICHTEXT p {
  padding-bottom:0.5em;
}

.ELEMENT {
  padding: 3px;
}
.ELEMENT.EMPTY {
  color: grey;
}
.ELEMENT.SELECTED {
  padding:0px;
  border: 3px solid grey;
}

.FIELD.EDITABLE {
  border-bottom: solid grey 1px;
}


.COLLAPSED {
  height: 100px;
  overflow: scroll;
}

.HIDDEN {
  display: none;
}

.HIDDEN.SELECTED {
  display:block;
}

.FLOATLEFT {
  float:left;
}

.CODEVIEW {
  font-family: courier;
  font-size: 0.85rem;
  background-color: #bbf9a8;
  border:solid green 1px;
  margin: 0px;
  padding: 0px;
}

.CODEEXAMPLE,
.CODE {
  font-family: courier;
  font-size: 0.85rem;
  background-color: #f2f9a8;
  border: none;
  margin: 0px;
}

.INANIMATION {
  color: red;
}

.AUTOEDIT {
  color: red;
}


.EMBEDDED {
  background-color: #ffb848;
}

.EDITOR {
  background-color: #b9a3c1;
}

.EDITOR.undefined {
  background-color: #b9a3C1;
  color : white;
}

.EDITOR.number {
  background-color: #b9a3c1;
  color : blue;
  text-align: right;
}
.EDITOR.string {
  background-color: #b9a3c1;
  color : red;
  text-align: left;
}
.EDITOR.function {
  background-color: #f2f9a8;
}

.OUTPUTEXAMPLE,
.OUTPUT {
  background-color: #b7b7b7;
  color: 828282;
  margin: 0px;
  padding: 0px;
}

.TESTEXAMPLE{
  background-color: #b6fff7;
  border:solid blue 3px;
  color: blue;
}

.TEST {
  background-color: #b6fff7;
  border:solid blue 3px;
  color: blue;
}
.TEST.ERROR {
  background-color: #b6fff7;
  border:solid red 3px;
  color: black;
}

.RICHTEXT {
  border:none;
}


.DIFFSAME,
.USERSUCCESS,
.SUCCESS {
  background-color: #8dff60;
  color: black;
}

.INFO  {
  background-color: #b6fff7;
}

.TRACE,
.DEBUG {
  font-size: 14px;
  background-color: #b6fff7;
  border:solid blue 1px;
}

.DIFFERENT,
.USERERROR,
.WRONG,
.ERROR {
  background-color: #ff4d4d;
  color: black;
}

.CODEINERROR {
  font-family: courier;
  font-size: 14px;
  background-color: yellow;
  border:solid yellow 1px;
}

.META {
  color: red;
}

.HELP,
.INSPECT {
  padding: 2px;
  margin: 0px;
  font-size: 11px;
}

.PARAMETER {
  color:purple;
  font-weight:bold;
}

.INSPECTHTML {
  padding: 0px;
  margin: 0px;
  color: 004129;
  background-color: #00ffa2;
  font-family: courier;
  font-size: 14px;
}


.SMSTATE,
.SMTRANSITION {
  margin: 5px;
  border:solid green 1px;
}
.SMCURRENTSTATE {
  background-color: yellow;
}

.CUT {
  background-color: #b7b7b7;
  color: 828282;
  font-size: 8px;
}

.SECTION {
  padding-left: 3px;
}

.SECTIONTITLE {
  border:none;
}

[container=sectionContent],
.CONTAINER {
  padding-left: 25px;
  border-left: grey solid 1px;
}

.BOXLINK {
  background-color: #E0E0E0;
  color: blue;
  cursor:pointer;
}

.BOX {
  margin-left:30px;
  border: 1px solid black;
  background-color: #E0E0E0;
  color: black;
}

.INVALIDLINK {
  color:red;
}

.HELPLINK {
  color:blue;
  cursor:pointer;
}

.REF {

}

.LNIK {

}

.DIFF.EQUAL {
  background-color: #8dff60;
}
.DIFF.DEL {
  background-color: #ffb848;
  color: red;
}
.DIFF.ADD {
  background-color: #ffb848;
  color: green;
}

.WARNING {
  background-color:yellow;
}

.INTERACTIVE,
.SCENE {
  background-color:cyan;
}

.INTERACTIVE > [contenteditable=true] {
  background-color:#b9a3c1;
}

.SCENECONTAINER {
  position: relative;
  /*must have no border!! */
  height:100%;
}

.IELEMENT {
  position:absolute;
}

.IELEMENT.FOCUSED {
  font-size: 2em;
}

.IELEMENT.FOCUSED::before {
  content:"focus:";
}

.CLOUD.WORD {
  color:blue;
}

.PAGEBREAK {
  border-bottom: 2px dashed blue;
  color: grey;
}

#tbContent {
  padding-left:0px;  /*jcContent is a .CONTAINER but overrides everything that makes intentation */
  border-left: none;
  margin-top:4em;
}

#menu {
  position:fixed;
  top:0;
  right:0;
  background-color: #909090;
  z-index:100;
  font-size:12px;
}

#menu .btn,
#menu .input-group-text,
#menu .custom-select {
    font-size:1em;
}

@media print {
  #menu {
    display:none;
  }
  .PAGEBREAK {
    page-break-before:always;
    border:none;
    color:white;
  }
  tbody: {
    font-size:0.8em !important;
  }
}
