:root {
  --bgsuccess: #d4edda;
  --bgcode: #f2f9a8;
  --bginfo: #d1ecf1;
  --bgeditor : #b9a3c1;
  --bgwarning : #fff3cd;
  --bgerror : var(--danger);
  --bgdanger : #f8d7da;
}

body {
  font-family: Arial;
  color: black;
}
tbody {
  font-family: Arial;
  font-size: 1em;
}
thead {
  font-family: Arial;
  font-size: 1em;
}
h1 {
  font-size: 18pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h2 {
  font-size: 14pt;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h3 {
  font-size: 12pt;
  margin-bottom: 0px;
}
h4 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h5 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h6 {
  font-size: 10pt;
  margin-bottom: 0px;
}
h7 {
  font-size: 10pt;
  margin-bottom: 0px;
}
dt {
  font-weight: bold;
}

ol,ul,li {
  padding:0em;
  margin-top : 0em;
  margin-bottom : 0em;
}

table {
  border: none;
}

th {
  text-align: left;
  vertical-align: top;
}

td {
  text-align: right;
  vertical-align: top;
}

.LEFT {
  text-align: left;
}
.RIGHT {
  text-align: right;
}

.TRACE {
  border: 1px solid #000080;
  text-align: left;
  vertical-align: top;
}

p {
  margin: 0px;
  padding: 0px;
}

.FIELD p,
.RICHTEXT p {
  padding-bottom:0.5em;
}

.ELEMENT {
  padding: 3px;
}
.ELEMENT.EMPTY {
  color: grey;
}
.ELEMENT.SELECTED {
  position:relative;
  padding:0px;
  border: 3px solid grey;
}
.ELEMENT.SELECTED::after {
  position:absolute;
  top:-2em;
  right:0;
  outline:none;
  color:white;
  background-color: rgba(169, 169, 169,0.6);
  font-size:0.6em;
  padding:3px;
  content:attr(itemprop);
}

.ELEMENT.ITEMSCOPE {
  padding:0;
  border: 3px solid orange;
}
.ELEMENT.ITEMSCOPE::after {
  position:relative;
  width:0;
  left:6px;
  outline:none;
  color:orange;
  content:attr(itemprop);
}

.ELEMENT:empty::before {
  content:"empty";
  font-style:italic;
  color:grey;
}
.ELEMENT[itemprop]:empty::before {
  content:attr(itemprop);
  font-style:italic;
  color:grey;
}

.ELEMENT.c-1 {
  width:calc(100%/12);
}
.ELEMENT.c-2 {
  width:calc(100%/12*2);
}
.ELEMENT.c-3 {
  width:calc(100%/12*3);
}
.ELEMENT.c-4 {
  width:calc(100%/12*4);
}
.ELEMENT.c-5 {
  width:calc(100%/12*5);
}
.ELEMENT.c-6 {
  width:calc(100%/12*6);
}
.ELEMENT.c-7 {
  width:calc(100%/12*7);
}
.ELEMENT.c-8 {
  width:calc(100%/12*8);
}
.ELEMENT.c-9 {
  width:calc(100%/12*9);
}
.ELEMENT.c-10 {
  width:calc(100%/12*10);
}
.ELEMENT.c-11 {
  width:calc(100%/12*11);
}
.ELEMENT.c-12 {
  width:100%;
}


.FIELD.EDITABLE {
  border-bottom: solid grey 1px;
  display:inline-block;
  width:100%;
}


.COLLAPSED {
  height: 100px;
  overflow: scroll;
}

.HIDDEN {
  display: none;
}

.HIDDEN.SELECTED {
  display:block;
}

.FLOATLEFT {
  float:left;
}

.CODEVIEW {
  font-family: courier;
  font-size: 0.85rem;
  background-color: var(--bgcode);
  border:solid green 1px;
  margin: 0px;
  padding: 0px;
}

.CODEEXAMPLE,
.CODE {
  background-color: var(--bgcode);
  border: none;
  margin: 0px;
  padding-left:3px;
}
.CODE {
  font-size: 0.85rem;
}

.INANIMATION {
  color: red;
}

.AUTOEDIT {
  color: red;
}


.EMBEDDED {
  background-color: #ffb848;
  display:none;
}
.EMBEDDED:before {
  content:"{{"
}

.EMBEDDED:after {
  content:" }}"
}

.SELECTED .EMBEDDED {
  display:inline;
}

.EDITOR {
  background-color:  var(--bgeditor);
  border: 1px solid black;
}

.EDITOR.undefined {
  background-color:  var(--bgeditor);
  color : white;
}

.EDITOR.number {
  background-color:  var(--bgeditor);
  color : blue;
  text-align: right;
}
.EDITOR.string {
  background-color: var(--bgeditor);
  color : red;
  text-align: left;
}
.EDITOR.function {
  background-color: var(--bgsuccess);
}

.OUTPUTEXAMPLE,
.OUTPUT {
  background-color: #b7b7b7;
  color: #828282;
  margin: 0px;
  padding: 0px;
}

.TESTEXAMPLE{
  background-color: #b6fff7;
  border:solid blue 3px;
  color: blue;
}

.TEST {
  background-color: var(--bginfo);
  border:solid blue 3px;
  color: blue;
}
.TEST.ERROR {
  border:solid red 3px;
  color: black;
}

.RICHTEXT {
  min-height:1em;
  border:none;
}


.NOTE {
   margin-left:25px;
   margin-right:25px;
   border-left:3px solid black;
   padding-left:6px;
}

.ADDRESS {
    margin-left: 11cm;
}


.INFO  {
  background-color: var(--bginfo);
}

.DIFFSAME,
.USERSUCCESS,
.SUCCESS,
.OK {
  background-color: var(--bgsuccess);
  color: black;
}

.WARNING {
  background-color:var(--bgwarning);
  color:black;
}

.DANGER {
  background-color:var(--bgdanger)
}
.DIFFERENT,
.USERERROR,
.WRONG,
.ERROR  {
  background-color: var(--bgerror);
  color: black;
}



.TRACE,
.DEBUG {
  font-size: 14px;
  background-color: var(--bginfo);
  border:solid blue 1px;
}


.CODEINERROR {
  font-family: courier;
  font-size: 14px;
  background-color: yellow;
  border:solid yellow 1px;
}

.META {
  color: red;
}

.HELP,
.INSPECT {
  padding: 2px;
  margin: 0px;
  font-size: 11px;
}
.INSPECT legend,
.HELP legend {
  width:initial;
  margin: 0px;
  padding: 0px 4px;
  font-size: 1em;
}

.INSPECT fieldset,
.HELP fielset {
  border: 1px solid black;
}

.PARAMETER {
  color:purple;
  font-weight:bold;
}

.INSPECTHTML {
  padding: 0px;
  margin: 0px;
  color: 004129;
  background-color: #00ffa2;
  font-family: courier;
  font-size: 14px;
}


.SMSTATE,
.SMTRANSITION {
  margin: 5px;
  border:solid green 1px;
}
.SMCURRENTSTATE {
  background-color: yellow;
}

.CUT {
  box-shadow:0 0 0.5em 10px orange inset;
}

.DELETED {
  box-shadow:0 0 0.5em 10px red inset;
}

.MARKED {
  box-shadow:0 0 0.5em 10px LightSkyBlue inset;
}

.SECTION {
  padding-left: 3px;
}

.SECTIONTITLE {
  border:none;
}

.TABLE {
  padding:3px;
  background-color: grey;
}

.ROW {
  padding:2px;
  background-color: green;
}
td.RICHTEXT {
  background-color: white;
}

.FLEX {
  display:flex;
}

.INDENT {
  padding-left: 25px;
  border-left: grey solid 1px;
}

@media print {
  .INDENT {
    border:none;
  }
}

.BOXLINK {
  background-color: #E0E0E0;
  color: blue;
  cursor:pointer;
}

.BOX {
  margin-left:30px;
  border: 1px solid black;
  background-color: #E0E0E0;
  color: black;
}

.INVALIDLINK {
  color:red;
}

.HELPLINK {
  color:blue;
  cursor:pointer;
}

.REF {

}

.LNIK {

}

.DIFF.EQUAL {
  background-color: #8dff60;
}
.DIFF.DEL {
  background-color: #ffb848;
  color: red;
}
.DIFF.ADD {
  background-color: #ffb848;
  color: green;
}

.INTERACTIVE,
.SCENE {
  background-color:cyan;
}

.INTERACTIVE > [contenteditable=true] {
  background-color: var(--bgeditor);
}

.SCENECONTAINER {
  position: relative;
  /*must have no border!! */
  height:100%;
}

.IELEMENT {
  position:absolute;
}

.IELEMENT.FOCUSED {
  font-size: 2em;
}

.IELEMENT.FOCUSED::before {
  content:"focus:";
}

.CLOUD.WORD {
  color:blue;
}

.PAGEBREAK {
  color: grey;
  background: #dbdbdb;
}
.PAGEBREAK:before {
  display:block;
  color  :grey;
  content:'page break';
}


#tbContent {
  border-left: none;
  padding:0;
}

#menu {
  position:fixed;
  top:0;
  right:0;
  background-color: #dddcdc;
  z-index:100;
  font-size:12px;
}

#menu .btn,
#menu .input-group-text,
#menu .custom-select {
    font-size:1em;
}



/** Paper sizes **/
     .A3.landscape { width: 420mm }
.A3, .A4.landscape { width: 297mm }
.A4, .A5.landscape { width: 210mm }
.A5                { width: 148mm }

           .A3.landscape.sheet { height: 297mm }
.A3.sheet, .A4.landscape.sheet { height: 210mm }
.A4.sheet, .A5.landscape.sheet { height: 148mm }
.A5.sheet                      { height: 104mm }


@media print {
  .NO_PRINT,
  .no_print {
    display:none;
  }
  .PAGEBREAK,
  .A3,
  .A4,
  .A5 {
    page-break-before:always;
    background-color:cyan;
    color:black;
  }

  .landscape {
    transform: rotate(90deg);
  }
}

@page { 
  margin-top:   15mm; 
  margin-bottom:15mm;
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

@media screen {
  .A3,.A4,.A5 {
    background: white;
    color: black;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin-left:  5mm;
    margin-right: 5mm;
    margin-bottom:5mm;
  }
  .A4:before {
    display:block;
    padding:0;
    color  :grey;
    background: #e0e0e0;
    content:'A4';
    title:
  }
}

